<div class="jumbotron">
  <h1 class="display-5">Company Space</h1>
  <p class="lead">
    This fuction needed to use <b>only one time</b> when initiallly creating
    company space.
  </p>
  <hr class="my-4" />
  <p>
    Company space lets you store your employees data into space that is created
    by you.
  </p>
  <p class="lead"></p>
  <form method="POST" (submit)="onCreateSpace(postForm)" #postForm="ngForm">
    <div class="col-md-5">
    <input
      type="text"
      name="company"
      class="form-control"
      placeholder="Enter your company name, Preferred with no space letter"
      ngModel
      #companyInput="ngModel"
    /></div><br><br><br>
    <button
      style="padding-right: 20px;"
      class="btn btn-primary btn-lg"
      type="submit"
      role="button"
      [disabled] = "isCheckSpace"

    >
      Create Company Space
    </button>
  </form>
  <strong><div *ngIf= "isCheckSpace">It seems you've already created space, you can create space only one time. <br> 
  You Company Space name is: <b>{{ responsedData.companyspace | json }}</b></div></strong> <hr>
  Note: For any Space related problems contact the administrator!
</div>
