<!-- {{ responsedData | json }}<p>verify-response works!</p> -->
<div align="center">
  <button class="btn btn-info" (click)="convertPDF()">Download as PDF</button>
</div>

<br /><br />
<div id="resume">
  <br /><br />
  <div *ngFor="let key of objectKeys(values)">
    <dl>
      <dt>{{ keys[key] }}</dt>
      <dd>{{ values[key] }}</dd>
    </dl>
  </div>
</div>
<hr />
<form (submit)="onVerifyStatus(postForm)" #postForm="ngForm" method="post">
  <strong><span class="offset-sm-4"> Set Status</span></strong> <br />
  <select
    name="selection"
    ngModel
    #selectonInput="ngModel"
    id=""
    class="col-sm-3 offset-sm-3"
  >
    <option selected value="" disabled>Select Option</option>
    <option value="Verified">Verified</option>
    <option value="NeedsAttention"> Needs Changes </option>
    <option value="NotVerified"> Not Verified </option>
  </select> <br><br>
    <input type="text" class=" col-sm-5 offset-sm-3" name="comment" placeholder="comment" ngModel #commentInput="ngModel"  id=""><br><br>
  <button  class="btn btn-success offset-sm-4" style="padding-right: 400px;" type="submit">Submit</button>
</form>
