<!-- Loader -->
<div id="fh5co-page">
  <header id="fh5co-header" role="banner">
    <div class="container">
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
      <div id="fh5co-logo">
        <div class="bannertext">
          CR Solutions
        </div>
      </div>

      <nav id="fh5co-main-nav" role="navigation">
        <ul>
          <li>
            <a routerLink="/actions" *ngIf="status || userIsAuthenticated"
              >Actions</a
            >
          </li>
          <li class="has-sub">
            <div class="drop-down-menu">
              <a href="services.html">Services</a>
              <div class="dropdown-menu-wrap">
                <ul>
                  <li><a href="#">Web Development</a></li>
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">Graphic Design</a></li>
                  <li><a href="#">Branding</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a
              routerLink="/showresponses-home"
              *ngIf="empIsUserAuthenticated || empstatus || estatus"
              >My Responses</a
            >
          </li>
          <li class="has-sub">
            <div class="drop-down-menu">
              <a href="#">Sidebars</a>
              <div class="dropdown-menu-wrap">
                <ul>
                  <li><a href="right-sidebar.html">Right Sidebar</a></li>
                  <li><a href="left-sidebar.html">Left Sidebar</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="cta">
            <a
              routerLink="/login"
              *ngIf="userIsAuthenticated || status || astatus"
              (click)="onLogout()"
              >Logout</a
            >
          </li>
          <li class="cta">
            <a
              routerLink="/login"
              *ngIf="empIsUserAuthenticated || empstatus || estatus"
              (click)="onLogout()"
              >Logout</a
            >
          </li>

          <li class="cta">
            <a
              routerLink="/login"
              *ngIf="!status && !empstatus && !estatus && !astatus"
              >Login</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Header -->
</div>
