* {
  box-sizing: border-box;
}

html {
  background: url(//css-tricks.com/examples/OnePageResume/images/noise.jpg);
}

body {
  margin: 2.2rem;
}

#resume {
  min-width: 310px;
  font: 16px Helvetica, Avernir, sans-serif;
  line-height: 24px;
  color: #000;
}

h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px solid #999;
  line-height: 50px;
}

h2 {
  font-size: 20px;
  margin: 0 0 6px 0;
  position: relative;
}

h2 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 16px;
  color: #999;
  font-weight: normal;
}

p {
  margin: 0 0 16px 0;
}

a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

a:hover {
  border-bottom-style: solid;
  color: #000;
}

.objective {
  font-family: Georgia, serif;
  font-style: italic;
  color: #666;
}

dt {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  border-right: 1px solid #999;
}

dl {
  display: table-row;
}

dt,
dd {
  display: table-cell;
  padding-bottom: 20px;
}

dd {
  width: 500px;
  padding-left: 26px;
}

img {
  float: right;
  padding: 10px;
  background: #fff;
  margin: 0 30px;
  transform: rotate(-4deg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  width: 30%;
  max-width: 220px;
}

@media screen and (max-width: 1100px) {
  h2 span {
    position: static;
    display: block;
    margin-top: 2px;
  }
}

@media screen and (max-width: 550px) {
  body {
    margin: 1rem;
  }
  img {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 400px) {
  dt {
    border-right: none;
    border-bottom: 1px solid #999;
  }
  dl,
  dd,
  dt {
    display: block;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;
    text-align: left;
    width: 100%;
  }
  dd {
    margin-top: 6px;
  }
  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }
  dt {
    font-size: 20px;
  }
  h1 {
    font-size: 36px;
    margin-right: 0;
    line-height: 0;
  }
  img {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  body {
    margin: 0;
  }
  img {
    margin: 0;
    margin-bottom: -40px;
  }
  #resume {
    width: 320px;
    padding: 12px;
    overflow: hidden;
  }
  p,
  li {
    margin-right: 20px;
  }
}
