<div *ngIf="status || isUserAuthenticated">
  <b
    ><p style="text-align: center; font-size: large;"></p>
    Note: To store your employees report data, you need to create your company
    space <br />
    which could be done through Actions > Create Company Space. <br />
    Ignore if already has been done!</b
  >
</div>

<body>
  <div *ngIf="empstatus || isEmpUserIsAuthenticated">
    <div align="center">
      <b>Currently Available CR Submissions!</b>
      <div *ngFor="let i of responsedData">
        <ul class="list-group">
          <li class="list-group-item">
            <a (click)="onClickForm(i._id)"
              >For year {{ i.submityear }} and created by {{ i.creator }} on
              {{ i.foryear }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
